# Node
node_modules

# Cypress results
cypress/results
cypress/config/cucumber_json
cypress.env.json

# Secrets
secrets.env.sh
secrets.json

# Factory Fixtures
seleniumEasy.json

# Debugging files
cypress/fixtures/debug
